Repository pyinstaller/pyinstaller, pull requests merged in 2018-03, with the labels that each got.

#2898 Hooks: Add hook for uvloop
  PyInstaller/hooks/hook-uvloop.py
  tests/functional/test_libraries.py
  tests/requirements-libraries.txt
Labels: hooks

#2998 Hooks: Add hook-pandas.py to fix issue #2978.
  PyInstaller/hooks/hook-pandas.py
Labels: hooks

#3383 reword to make clear that --windowed is independent of --onedir
  doc/usage.rst
Labels: documentation

#3007 Fake timestamp in pyc-header
  PyInstaller/archive/writers.py
  PyInstaller/building/utils.py
Labels: PY3.7

#3434 correction in gi-hooks for binary paths
  PyInstaller/utils/hooks/gi.py
Labels: hooks
