Repository pyinstaller/pyinstaller, pull requests merged in 2018-10, with the labels that each got.

#3513 Remove references to pywin32
  PyInstaller/compat.py
  PyInstaller/news/3513.core.rst
  setup.py
Labels: Windows

#3788 hooks: Fix QtWebEngine casing.
  PyInstaller/hooks/hook-PyQt5.QtWebEngineWidgets.py
Labels: hooks

#3662 Fix #3309: Changing from -F to -D on consecutive runs causes crash
  PyInstaller/building/utils.py
  news/3662.bugfix.rst
Labels: pr:changelog-entry, pr:commit-message

#3773 Hooks: add gooey hook
  PyInstaller/hooks/hook-gooey.py
  PyInstaller/news/3773.hooks.rst
Labels: hooks, pr:changelog-entry

#3835 bootloader: Update bundled zlib library to version 1.2.11.
  bootloader/zlib/README
  bootloader/zlib/adler32.c
  bootloader/zlib/crc32.c
  bootloader/zlib/gzguts.h
  bootloader/zlib/inffast.c
  bootloader/zlib/inflate.c
  bootloader/zlib/inflate.h
  bootloader/zlib/inftrees.c
  bootloader/zlib/zconf.h
  bootloader/zlib/zlib.h
  bootloader/zlib/zutil.c
  bootloader/zlib/zutil.h
  news/3742.bootloader.rst
Labels: bootloader
