Repository pyinstaller/pyinstaller, pull requests merged in 2019-11, with the labels that each got.

#4261 Depend: Handle ldconfig failure gracefully
  PyInstaller/depend/utils.py
  news/4261.bugfix.rst
Labels: pr:commit-message

#4521 use direct link to "Read The Docs" in GitHub's contribution guidelines
  .github/CONTRIBUTING.md
Labels: documentation

#3888 Hooks: add hook for google cloud speech
  PyInstaller/hooks/hook-google.cloud.speech.py
  news/3888.hooks.rst
Labels: hooks, pr:changelog-entry

#3251 adding hooks for google cloud & google api modules
  PyInstaller/hooks/hook-google.api.py
  news/3251.hooks.rst
Labels: hooks, pr:changelog-entry

#4084 Hooks: Add Hook for Google Big Query
  PyInstaller/hooks/hook-google.cloud.bigquery.py
  news/4083.hooks.rst
  news/4084.hooks.rst
Labels: hooks

#4326 Hooks: Make the soundfile hook platform aware
  PyInstaller/hooks/hook-soundfile.py
  news/4325.hooks.rst
Labels: hooks

#4483 Hooks: add nnpy hook
  PyInstaller/hooks/hook-nnpy.py
  news/4483.hooks.rst
Labels: hooks

#4516 Add hook for django-babel.
  PyInstaller/hooks/hook-django_babel.py
  news/4516.hooks.rst
Labels: hooks

#4468 Hooks: Fix PySide2.QtNetwork hook by mirroring PyQt5 approach.
  PyInstaller/hooks/hook-PySide2.QtNetwork.py
  news/4467.hooks.rst
  news/4468.hooks.rst
Labels: hooks

#4486 Hooks: Fix gdk-pixbuf-query-loaders not in path in Ubuntu
  PyInstaller/hooks/hook-gi.repository.GdkPixbuf.py
  news/4486.hooks.rst
Labels: hooks

#4338 Hooks: include matroska.xml found inside enzyme package
  PyInstaller/hooks/hook-enzyme.parsers.ebml.core.py
  news/4338.hooks.rst
Labels: hooks

#4271 Fix loading of extensions for IPython
  PyInstaller/hooks/hook-IPython.py
  news/4271.bugfix.rst
Labels: hooks

#4377 hooks: Updating PySide2 hooks for QtWebEngine
  PyInstaller/hooks/hook-PySide2.QtWebEngineWidgets.py
  PyInstaller/hooks/hook-PySide2.py
  PyInstaller/loader/rthooks/pyi_rth_pyside2webengine.py
  news/4377.hooks.rst
  tests/functional/data/PySide2_QWebEngine/test_web_page.html
  tests/functional/test_libraries.py
Labels: PySide, hooks

#4517 Add pyarrow hook
  PyInstaller/hooks/hook-pyarrow.py
  news/3720.hooks.rst
  news/4517.hooks.rst
Labels: hooks

#4530 feat: Adds text_unidecode hook
  PyInstaller/hooks/hook-text_unidecode.py
  news/4327.hook.rst
  news/4530.hooks.rst
Labels: hooks
