Repository pyinstaller/pyinstaller, pull requests merged in 2019-10, with the labels that each got.

#4462 Typo fix
  PyInstaller/loader/rthooks/pyi_rth_qt4plugins.py
Labels: documentation

#4288 Bootloader: don't use debug message boxes on win32.
  bootloader/src/pyi_global.c
  bootloader/src/pyi_global.h
  doc/when-things-go-wrong.rst
  news/4288.feature.rst
Labels: bootloader

#4230 Bootloader: win: Add a workaround for Python library loading failure in onefile mode
  bootloader/src/pyi_path.h
  bootloader/src/pyi_pythonlib.c
  news/1566.bootloader.rst
  news/2170.bootloader.rst
  news/4230.bootloader.rst
Labels: bootloader

#4399 Bootloader: Handle getURL Apple Event (#4397)
  bootloader/src/pyi_utils.c
  news/4397.bootloader.rst
  news/4399.bootloader.rst
  tests/functional/scripts/pyi_log_args.py
  tests/functional/specs/pyi_osx_custom_protocol_handler.spec
  tests/functional/test_apple_events.py
Labels: OS X, bootloader

#4476 Doc: Clarify "Adding Binary Files"
  doc/spec-files.rst
Labels: documentation

#4472 Doc: fix broken link to Windows 10 SDK page
  doc/usage.rst
Labels: documentation
