Repository pyinstaller/pyinstaller, pull requests merged in 2020-12, with the labels that each got.

#5232 bootloader: on linux, fully resolve the executable name while preserving process name
  bootloader/src/pyi_main.c
  bootloader/src/pyi_path.c
  news/5232.bootloader.rst
Labels: @high, area:bootloader, platform:Linux

#5321 bootloader: assorted fixes and cleanup for building with MSC
  bootloader/src/pyi_archive.c
  bootloader/src/pyi_archive.h
  bootloader/src/pyi_global.c
  bootloader/src/pyi_global.h
  bootloader/src/pyi_launch.c
  bootloader/src/pyi_main.c
  bootloader/src/pyi_path.c
  bootloader/src/pyi_pythonlib.c
  bootloader/src/pyi_utils.c
  bootloader/src/pyi_win32_utils.c
  bootloader/tests/test_path.c
  bootloader/wscript
  doc/bootloader-building.rst
  news/5320.bootloader.rst
Labels: area:bootloader, platform:Windows

#5229 Tests: Add an AppImage test
  .travis.yml
  tests/functional/data/appimage/AppIcon.svg
  tests/functional/data/appimage/DirIcon.png
  tests/functional/data/appimage/create.sh
  tests/functional/data/appimage/org.pyinstaller.appimage.test.appdata.xml
  tests/functional/data/appimage/org.pyinstaller.appimage.test.desktop
  tests/functional/test_linux_appimage.py
Labels: area:test-suite, merge-on-ci-pass, platform:Linux

#4720 Fix --runtime-tmpdir and deletion of temporary files
  bootloader/src/pyi_utils.c
  news/3301.bugfix.rst
  news/4579.bugfix.rst
  news/4720.bugfix.rst
Labels: @high, bugfix, merge-on-ci-pass
