Repository pyinstaller/pyinstaller, pull requests merged in 2020-05, with the labels that each got.

#4734 initialize variable len before using it
  bootloader/src/pyi_pythonlib.c
  news/4728.bugfix.rst
  news/4734.bugfix.rst
Labels: @high, area:bootloader, bug

#4592 Bootloader build: Add traceback to debug pyiboot01
  bootloader/src/pyi_launch.c
  bootloader/src/pyi_python.c
  bootloader/src/pyi_python.h
  news/4213.bootloader.rst
  news/4592.bootloader.rst
Labels: area:bootloader

#4244 Fixed #4057 - Ctrl-Z issue
  bootloader/src/pyi_utils.c
  news/4244.bugfix.rst
  tests/functional/test_signals.py
Labels: @medium, area:bootloader, bug

#4861 building: Fix struct format strings for versioninfo
  PyInstaller/utils/win32/versioninfo.py
  news/4861.bugfix.rst
Labels: area:bootloader

#4652 Replace PyCrypto with tinyaes for encryption support
  PyInstaller/archive/pyz_crypto.py
  PyInstaller/building/build_main.py
  PyInstaller/building/makespec.py
  PyInstaller/loader/pyimod02_archive.py
  README.rst
  doc/_common_definitions.txt
  doc/usage.rst
  news/2365.bugfix.rst
  news/3093.bugfix.rst
  news/3133.bugfix.rst
  news/3160.bugfix.rst
  news/3198.bugfix.rst
  news/3316.bugfix.rst
  news/3619.bugfix.rst
  news/4241.bugfix.rst
  news/4652.bugfix.rst
  tests/functional/test_basic.py
  tests/requirements-tools.txt
Labels: @high, bug
