Repository pyinstaller/pyinstaller, pull requests merged in 2020-11, with the labels that each got.

#5295 OSX: Fix to reactivate running app on "reopen"
  bootloader/src/pyi_utils.c
  news/5295.bootloader.rst
  tests/functional/scripts/pyi_pyqt5_log_events.py
  tests/functional/test_apple_events.py
Labels: platform:OS X

#5304 Feature: Add Python 3.9 support.
  .github/workflows/macos.yml
  .travis.yml
  PyInstaller/compat.py
  README.rst
  appveyor.yml
  doc/hooks.rst
  news/5289.feature.rst
  setup.cfg
  tests/requirements-libraries.txt
  tox.ini
Labels: area:tests/ci

#5318 bootloader: fix bootloader tests under Windows/MSC
  bootloader/tests/test_path.c
  bootloader/tests/wscript
  news/5318.bootloader.rst
Labels: area:bootloader, platform:Windows, ready to merge

#5286 github: Fix the commit message check for preventing the workflow run …
  .github/workflows/macos.yml
  .github/workflows/main.yml
  .github/workflows/validate-new-news.yml
Labels: area:tests/ci, bugfix, merge-on-ci-pass
