Repository pyinstaller/pyinstaller, pull requests merged in 2020-03, with the labels that each got.

#4750 hooks: Add bcrypt hook.
  PyInstaller/hooks/hook-bcrypt.py
  news/4735.hooks.rst
Labels: area:hooks, ready to merge

#4727 Don't inform about --noconfirm if being used.
  PyInstaller/building/utils.py
  news/4727.build.rst
Labels: ready to merge

#4709 Add puremagic support
  PyInstaller/hooks/hook-puremagic.py
  news/4709.hooks.rst
Labels: area:hooks, ready to merge

#4624 Create hook-argon2.py
  PyInstaller/hooks/hook-argon2.py
  news/4625.hooks.rst
  tests/functional/test_libraries.py
Labels: area:hooks

#4560 Pyinstaller support for Bleak dotnet backend
  PyInstaller/hooks/hook-bleak.py
  news/4649.hooks.rst
Labels: area:hooks

#4746 bokeh==2.0.0 requires bokeh/_sri.json
  PyInstaller/hooks/hook-bokeh.py
  news/4742.hooks.rst
  news/4746.hooks.rst
Labels: area:hooks

#4677 Fallback to a default min macOS version instead of forcing it
  bootloader/wscript
  doc/bootloader-building.rst
  news/4677.build.rst
Labels: area:bootloader, state:needs more work

#4722 Docs: Fix typos, grammar issues, and an invalid command
  doc/development/documentation.rst
  doc/development/index.rst
Labels: area:documentation
