Repository pyinstaller/pyinstaller, pull requests merged in 2021-01, with the labels that each got.

#5216 bootloader: on Windows, use user's SID to create directories
  bootloader/src/pyi_win32_utils.c
  news/5216.bootloader.rst
Labels: area:bootloader, platform:Windows, squash-merge-on-ci-pass

#3433 modulegraph: fix AliasNode handling
  PyInstaller/lib/modulegraph/modulegraph.py
  tests/functional/modules/pyi_testmod_submodule_from_aliased_pkg/__init__.py
  tests/functional/modules/pyi_testmod_submodule_from_aliased_pkg/submodule.py
  tests/functional/scripts/pyi_hooks/pre_safe_import_module/hook-alias_name.py
  tests/functional/test_import.py
Labels: area:modulegraph

#5446 bootloader: retrieve failed script error details before they are cleared
  bootloader/src/pyi_launch.c
  bootloader/src/pyi_python.c
  bootloader/src/pyi_python.h
  news/5446.bugfix.rst
Labels: area:bootloader, merge-on-ci-pass
